body{
    background: rgb(191, 177, 250);
    font-family: 'Teko';
    font-size: 20px;
    text-align: center;
}
header{
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-around;
}


td{
    padding: 10px;
}
table{
    background: rgb(90, 107, 201);
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 5px;
}
table td {
    font-size: 30px;
}

.name{
    padding-left: 20px;
    padding-right: 20px;
}
.container img{
    border-radius: 5px;
    margin-top: 10px;
}